<footer class="bg-white h-14 fixed bottom-0 left-0 w-full border-t border-gray-300">
    <div class="container mx-auto">
        <div class="md:flex">
            <!-- First Column -->
            <div class="md:w-1/2 h-14 flex items-center">
                <h2 class="text-sm font-normal">WorkDesk &#64; 2024</h2>
            </div>

            <!-- Second Column -->
            <!-- <div class="md:w-1/2 h-14 flex items-center">
                <ul class="flex justify-between w-full">
                    <li><a href="#" class="text-sm font-normal text-82995d hover:text-82995d hover:underline">About</a></li>
                    <li><a href="#" class="text-sm font-normal text-82995d hover:text-82995d hover:underline">Terms of Use</a></li>
                    <li><a href="#" class="text-sm font-normal text-82995d hover:text-82995d hover:underline">Privacy Policy</a></li>
                    <li><a href="#" class="text-sm font-normal text-82995d hover:text-82995d hover:underline">Cookie Policy</a></li>
                    <li><a href="#" class="text-sm font-normal text-82995d hover:text-82995d hover:underline">Copyright Policy</a></li>
                    <li><a href="#" class="text-sm font-normal text-82995d hover:text-82995d hover:underline">Brand Policy</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</footer>