<div class="relative pr-10">
    <div class="flex justify-between items-center cursor-pointer" (click)="doToggleMenu()">
        <img class="w-10 h-10 rounded-full object-cover" src="/images/user.webp" alt="Rounded avatar">
        <span class="ml-2">Bhavesh khasiya</span>
        <i class="fas fa-caret-down absolute right-2 top-3"></i>
    </div>
    <div *ngIf="dropdownOpen" class="absolute right-0 t-10 mt-2 py-2 w-48 bg-white rounded-md shadow-xl z-20">
        <a class="block px-4 py-2 text-sm capitalize text-gray-800 hover:bg-[#1F2937] hover:text-white cursor-pointer"
            (click)="onLogout()">
            Sign Out
        </a>
    </div>
</div>

<!-- <app-modal #modalComponent>
    <label for="password" class="block mt-2 text-xs font-semibold text-gray-600">Password <span
            class="text-red-600">*</span></label>
    <input type="password"
        class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-gray-400">
</app-modal> -->